<footer class="bg-dark text-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Enlaces</h5>
                <ul class="list-unstyled">
                    <li><a href="./" class="text-light">Inicio</a></li>
                    <li><a href="consulta.jsp" class="text-light">Consultas</a></li>
                    <li><a href="LogoutServlet" class="text-light">Cerrar sesión</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contacto</h5>
                <ul class="list-unstyled">
                    <li><i class="bi bi-geo-alt-fill"></i> Tienda Serbatic Ricardo</li>
                    <li><i class="bi bi-envelope-fill"></i> Calle Sin Nombre 10</li>
                    <li><i class="bi bi-phone-fill"></i>A1234567</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Social</h5>
                <ul class="list-unstyled">
                    <li><a href="https://www.linkedin.com/in/ricardo-santiago-tom%C3%A9/" class="text-light" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a></li>
                    <li><a href="https://github.com/RicardoSantom" class="text-light" target="_blank"><i class="fab fa-github"></i> Github</a></li>
                    <li><a href="https://daw208.ieslossauces.es/" class="text-light" target="_blank"><i class="fas fa-globe"></i> Página personal DAW</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-center py-3">
        <p class="text-light mb-0">Ricardo Santiago Tomé© 2ºDAW 2022/23 IES Los Sauces - Benavente(Zamora)</p>
    </div>
</footer>